<a href="https://colab.research.google.com/github/triinlutsoja/WoTech-Team20-repository/blob/lesson-14%2FLasma-read_data/Task1_Team20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
url = '/content/transaction_dataset.csv'
df = pd.read_csv(url)

In [3]:
print(df.head())

   Customer ID      Name    Surname Gender   Birthdate  Transaction Amount  \
0       752858      Sean  Rodriguez      F  20/10/2002               35.47
1        26381  Michelle     Phelps    NaN  24/10/1985             2552.72
2       305449     Jacob   Williams      M  25/10/1981              115.97
3       988259    Nathan     Snyder      M  26/10/1977               11.31
4       764762   Crystal      Knapp      F  02/11/1951               62.21

         Date               Merchant Name     Category
0  03/04/2023               Smith-Russell     Cosmetic
1  17/07/2023      Peck, Spence and Young       Travel
2  20/09/2023                  Steele Inc     Clothing
3  11/01/2023  Wilson, Wilson and Russell     Cosmetic
4  13/06/2023               Palmer-Hinton  Electronics